mat-card {
    width: 40%;
    margin: auto;
    padding: 20px;
}

.container {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(164, 164, 164);
    padding: 20px;
}

.left {
    width: 80%;
    height: 100%;
    float: left;
}

.right {
    width: 20%;
    height: 100%;
    float: left;
}

.top {
    width: 100%;
    font-family: 'Kalam';
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.bot {
    width: 100%;
    font-family: 'Kalam';
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}

.no-data {
    margin: auto;
    width: 40%;
}

.no-data-title {
    font-family: 'Kalam';
    font-size: 24px;
}