<mat-card>
    <mat-card-title>Promena lozinke</mat-card-title>
    <form (submit)="onSave()" [formGroup]="form">
        <table>
            <tr>
                <td class="td-text">
                    <span class="beforeInput">Stara lozinka: </span>
                </td>
                <td class="oval">
                    <input matInput placeholder="Stara lozinka" type="password" formControlName="oldPassword" class="input-style" />
                </td>
            </tr>
            <br />
            <tr>
                <td class="td-text">
                    <span class="beforeInput">Nova lozinka: </span>
                </td>
                <td class="oval">
                    <input matInput placeholder="Nova lozinka" type="password" formControlName="newPassword" class="input-style" />
                </td>
            </tr>
        </table>
        <span style="color: red">{{error_msg}}</span>
        <br>
        <button mat-raised-button color="accent" type="submit" class="button-style">
    Sačuvaj izmene
  </button>
    </form>
</mat-card>