<mat-card>
    <table>
        <tr>
            <td>
                <h3>Zoološki vrt “Pandica”</h3>
                <br><br>
                <span class="contact-text">Adresa: Njegoševa 54, Beograd</span>
                <br>
                <span class="contact-text">Broj telefona: 064 612 1434</span>
                <br>
                <span class="contact-text">E-mail: pandica@zoo.com</span>
            </td>
            <td>
                <div class="img-container"><img src="assets/contact-info/zoo.jpg" /></div>
            </td>
        </tr>
    </table>

</mat-card>
