.container {
    height: 100%;
}

.left {
    background-color: rgb(217, 217, 217);
    width: 20%;
    height: 100%;
    float: left;
    display: flex;
    /* align-items: center; */
}

.left-element {
    padding-top: 200px;
    width: 100%;
    text-align: left;
}

.right {
    background-color: rgb(217, 217, 217);
    width: 20%;
    height: 100%;
    float: left;
    display: flex;
    /* align-items: center; */
}

.right-element {
    padding-top: 200px;
    width: 100%;
    text-align: right;
}

.center {
    background-color: rgb(217, 217, 217);
    width: 60%;
    height: 100%;
    float: left;
}

mat-card {
    width: 100%;
    margin: auto;
    padding: 20px;
}

mat-card-title {
    font-family: 'Kalam';
    font-weight: bold;
    font-size: 28px;
}

img {
    width: 366px;
    height: 220px;
    margin: 20px;
}

table,
tr,
td {
    margin: auto;
}

h3 {
    font-family: 'Kalam';
    font-weight: bold;
}

.img-container {
    margin: 20px;
    padding: 10px;
}

.event-text {
    font-family: 'Kalam';
    font-size: 24px;
}

.likes {
    font-family: 'Kalam';
    font-size: 28px;
}
